# Configuracion del servidor

PORT=3000

ENABLE_CORS=true

# ZIP usado cuando ejecutamos: node src/index.js

ZIP_CODE=80203

# =========================== APIs usadas para la prueba tecnica ==================================

# Para obtener la latitud y longitud a partir del código postal

ZIPPOPOTAMUS_API_URL=https://api.zippopotam.us 

# Para obtener el pronóstico del tiempo a partir de la latitud y longitud

OPEN_METEO_WEATHER_API_URL=https://api.open-meteo.com/v1/forecast

# Para obtener la calidad del aire a partir de la latitud y longitud

OPEN_METEO_AIR_API_URL=https://air-quality-api.open-meteo.com/v1/air-quality

# Para obtener la ubicación a partir de la dirección IP en dado caso el código postal no sea válido o falla.

IP_API_URL=http://ip-api.com/json
