# Configuracion del servidor
PORT=3000
ENABLE_CORS=true

# ZIP usado cuando ejecutas: node src/index.js
ZIP_CODE=80203

# APIs usadas por la prueba tecnica
ZIPPOPOTAMUS_API_URL=https://api.zippopotam.us
OPEN_METEO_WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
OPEN_METEO_AIR_API_URL=https://air-quality-api.open-meteo.com/v1/air-quality
IP_API_URL=http://ip-api.com/json
